{% extends base %}
{% load static %}

{% block js %}
    {% for jsFile in jsFiles %}
        <script type="text/javascript"
                {% with jsFile as js %}
                src="{% static js %}" async></script>
                {% endwith %}
    {% endfor %}
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script>
    </script>
{% endblock %}
{% block content %}
    <div class="shell-column" style="width: 30%">
        <section id="year-nav-bar" style="margin-top: 75px;">
            <ul id="year-nav-bar-list"></ul>
        </section>
    </div>
    <div class="shell-column" style="width: 70%">
        <section id="team-applications" style="margin-top: 75px;">
            <div id="team-applications-header">
                <h1>Features</h1>
            </div>
            <div id="features-body">
            </div>
        </section>
        <section id="show-applications" style="margin-top: 75px;">
            <div id="show-applications-header">
                <h1>Complaints</h1>
            </div>
            <div id="complaints-body">
            </div>
        </section>
        <section id="show-applications" style="margin-top: 75px;">
            <div id="show-applications-header">
                <h1>Phone and Post</h1>
            </div>
            <div id="phone-and-post-body">
            </div>
        </section>
    </div>
{% endblock %}